.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 64px;
  width: 100vw;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: 50px 200px 1fr;
  grid-template-areas:
    "input input"
    "mainCard chart"
    "mainCard dailyCards";
  column-gap: 34px;
  row-gap: 30px;
  padding: 50px 35px;
  width: 100%;
  max-width: 1140px;
  height: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  border: 3px solid #4da6ff;
  box-shadow: 0 6px 20px rgba(77, 166, 255, 0.2);
}

.input {
  grid-area: input;
}

.mainCard {
  grid-area: mainCard;
}

.chart {
  grid-area: chart;
  width: 650px;
}

.dailyCards {
  grid-area: dailyCards;
}

.chartButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.chartButtons button {
  padding: 6px 12px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.chartButtons button.active {
  background-color: #5993ff;
  color: white;
  border-color: #5993ff;
}

/* Responsive */
@media screen and (max-width: 1140px) {
  .main {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  }
}

@media screen and (max-width: 1024px) {
  .main {
    display: block;
  }

  .main > * {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 524px) {
  .wrapper {
    padding: 25px 32px;
  }
}
