.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: input;
  position: relative;
}

.section {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-self: center;
}

.label {
  margin-right: 10px;
  font-size: 18px;
}

.input {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  padding: 15px;
}

.button {
  display: flex;
  border: none;
  background: none;
  margin-left: 20px;
  cursor: pointer;
}

.button:hover :global(svg) {
  fill: #5596f6;
}

.suggestions {
  position: absolute;
  top: 55px;
  left: 95px;
  z-index: 999;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

@media screen and (min-width: 1140px) {
  .wrapper {
    justify-content: start;
    margin-left: 20px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .form,
  .button,
  .label {
    display: block;
  }

  .button {
    margin-top: 20px;
  }

  .input {
    width: calc(100vw - 180px);
  }
}
